<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sulongfei.jump.mapper.ClubMapper">
    <resultMap id="BaseResultMap" type="com.sulongfei.jump.model.Club">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="remote_club_id" jdbcType="BIGINT" property="remoteClubId"/>
        <result column="club_name" jdbcType="VARCHAR" property="clubName"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, remote_club_id, club_name
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from club
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from club
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.sulongfei.jump.model.Club">
    insert into club (id, remote_club_id, club_name
      )
    values (#{id,jdbcType=BIGINT}, #{remoteClubId,jdbcType=BIGINT}, #{clubName,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.sulongfei.jump.model.Club">
        insert into club
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="remoteClubId != null">
                remote_club_id,
            </if>
            <if test="clubName != null">
                club_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="remoteClubId != null">
                #{remoteClubId,jdbcType=BIGINT},
            </if>
            <if test="clubName != null">
                #{clubName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sulongfei.jump.model.Club">
        update club
        <set>
            <if test="remoteClubId != null">
                remote_club_id = #{remoteClubId,jdbcType=BIGINT},
            </if>
            <if test="clubName != null">
                club_name = #{clubName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sulongfei.jump.model.Club">
    update club
    set remote_club_id = #{remoteClubId,jdbcType=BIGINT},
      club_name = #{clubName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from club
    </select>
    <select id="queryList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from club
        <where>

        </where>
    </select>
</mapper>