<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sulongfei.jump.mapper.TicketMapper">
    <resultMap id="BaseResultMap" type="com.sulongfei.jump.model.Ticket">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="remote_club_id" jdbcType="BIGINT" property="remoteClubId"/>
        <result column="num" jdbcType="INTEGER" property="num"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, remote_club_id, num
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ticket
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ticket
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.sulongfei.jump.model.Ticket">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into ticket (user_id, remote_club_id, num
        )
        values (#{userId,jdbcType=BIGINT}, #{remoteClubId,jdbcType=BIGINT}, #{num,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.sulongfei.jump.model.Ticket">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into ticket
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="remoteClubId != null">
                remote_club_id,
            </if>
            <if test="num != null">
                num,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="remoteClubId != null">
                #{remoteClubId,jdbcType=BIGINT},
            </if>
            <if test="num != null">
                #{num,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sulongfei.jump.model.Ticket">
        update ticket
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="remoteClubId != null">
                remote_club_id = #{remoteClubId,jdbcType=BIGINT},
            </if>
            <if test="num != null">
                num = #{num,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sulongfei.jump.model.Ticket">
    update ticket
    set user_id = #{userId,jdbcType=BIGINT},
      remote_club_id = #{remoteClubId,jdbcType=BIGINT},
      num = #{num,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="selectByClubId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ticket
        where user_id = #{userId,jdbcType=BIGINT} and remote_club_id = #{orgId,jdbcType=BIGINT}
    </select>
</mapper>